@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
}

input {
  border: none;
}

/* mixin */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling */
.hidden {
  display: none !important;
}

body {
  @include flex-center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h2#clock {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  letter-spacing: 10px;
  font-weight: 900;
  color: #eee;
  opacity: 0.9;
  cursor: default;
}

section {
  @include flex-center;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: 600px) {
    width: 90%;
    max-width: 1600px;
  }
  @media screen and (max-width: 600px) {
    width: 95%;
  }

  #login-form {
    @include flex-center;
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 24px;
    transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);

    b {
      display: block;
      padding: 15px 50px;
      margin-bottom: 25px;
      border-radius: 36px;
      font-size: 18px;
      font-weight: 600;
      color: #eee;
      word-break: keep-all;
      transition: all 0.6s;
    }

    input {
      width: 100%;
      max-width: 200px;
      height: 35px;
      border-radius: 8px;
      margin-bottom: 25px;
      text-align: center;
      background: rgba(#eee, 0.2);
      transition: all 1s;

      &::placeholder {
        color: rgba(#eee, 0.9);
      }

      &:focus {
        color: #000;
        background: #ccc;
        outline: 1px solid #ccc;
        border-radius: 8px;

        &::selection {
          background-color: #666;
        }

        &::placeholder {
          opacity: 0;
        }
      }
    } // input end

    button {
      width: 100%;
      max-width: 120px;
      padding: 5px 0;
      border: 1px solid #00c471;
      border-radius: 16px;
      color: #00c471;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s;
    }

    // hover
    &:hover {
      background-color: rgba(#fff, 0.2);
      backdrop-filter: blur(4px);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);

      b {
        background-color: rgba(#fff, 0.2);
      }

      button:hover {
        color: #eee;
        background: #00c471;
      }
    } // login hover end
  } // login form end

  #greeting {
    max-width: 350px;
    padding: 10px 30px;
    border-radius: 32px;
    box-sizing: border-box;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #eee;
    cursor: default;
    transition: all 0.6s;

    &::after {
      content: "👋";
      margin-left: 5px;
    }

    &:hover {
      transform: scale(1.15) translateY(-15px);
      background-color: rgba(#eee, 0.2);
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);
      backdrop-filter: blur(4px);
    } // #greeting hover end
  } // #greeting end

  #todo-form {
    input {
      width: 250px;
      height: 35px;
      border-bottom: 1px solid rgba(#eee, 0.4);
      box-sizing: border-box;
      margin-bottom: 25px;
      text-align: center;
      background: none;
      transition: all 0.3s;

      &::placeholder {
        color: rgba(#eee, 0.6);
      }

      &:focus {
        color: #000;
        background: #ccc;
        border-radius: 16px;
        outline: 1px solid #ccc;

        &::selection {
          background-color: #666;
        }

        &::placeholder {
          opacity: 0;
        }
      }
    } // input end
  } // #todo-form end

  #todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    li {
      span {
        color: #eee;
        font-weight: 600;
        margin-left: 10px;
      }

      button {
        cursor: pointer;
      }
    }
  } // #todo-list end
}

#weather {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: default;
  opacity: 0.6;

  span {
    font-size: 12px;
    font-weight: 200;
    color: #eee;

    &::after {
      content: "|";
      margin-left: 3px;
    }

    &:first-child::after {
      content: "℃ |";
    }

    &:last-child::after {
      display: none;
    }
  } // span end
}

#quote {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  color: #eee;
  text-align: center;
  opacity: 0.4;
  transition: all 0.3s;

  &:hover {
    opacity: 1;
  }

  span {
    display: block;
    width: 100%;
    font-size: 12px;
  }
}

.visit {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #eee;
  opacity: 0.4;
  transition: all 0.6s;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:hover {
    opacity: 1;
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

/* 도움말 만드는중
.info-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #eee;
  cursor: help;
  opacity: 0.4;
  color: #000;
  text-align: center;
  transition: all 1s;

  &:hover {
    opacity: 1;
  }
}
*/
